<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @skytouch_user.uid %>
</p>

<p>
  <strong>First name:</strong>
  <%= @skytouch_user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @skytouch_user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @skytouch_user.email %>
</p>

<%= link_to 'Edit', edit_skytouch_user_path(@skytouch_user) %> |
<%= link_to 'Back', skytouch_users_path %>
